* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
body {
  background-color: hsl(240, 78%, 98%);
  text-align: center;
}
.main {
  padding: 3.8rem 1.5rem 4.5rem;
  background-image: url('./images/bg-top.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  color: hsl(232, 13%, 33%);
  font-size: 0.9rem;
  
}
.heading {
  color: hsl(233, 13%, 49%);
}

/*button*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: hsl(234, 14%, 74%);
  padding: 2rem 0rem 5rem;
  font-size: 15px;
}
.toggle {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background: linear-gradient(to left,hsl(237, 63%, 64%),hsl(236, 72%, 79%));
  border-radius: 20px;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}
input:checked + .slider:before {
  transform: translateX(25px);
}
/*button end*/

.card {
  background-color: white;
  border-radius: 10px;
  padding: 2rem 1.7rem 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.card > p, .card > h3 {
  opacity: 0.8;
}
.card h3 {
  padding-bottom: 0.6rem;
}
.dollar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.1rem;
  padding-bottom: 0.9rem;
  opacity: 0.9;
}
.dollar span {
  font-size: 2.5rem;
  font-weight: 700;
}
.dollar .price{
  font-size: 4.2rem;
  font-weight: 700;
}
.card .line {
  border-top: 1px solid rgba(214, 214, 214, 0.8);
  padding: 0.9rem 0;
}
.b {
  border-bottom: 1px solid rgba(214, 214, 214, 0.8);
  padding: 1rem 0;
}
.card button {
  margin-top: 1.9rem;
  margin-bottom: 0.4rem;
  padding: 0.8rem;
  width: 100%;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(to left,hsl(237, 63%, 64%),hsl(236, 72%, 79%));
  color: white;
  letter-spacing: 1px;
}
.card button:hover{
  border: 1px solid hsl(237, 63%, 64%);
  background: none;
  color: hsl(237, 63%, 64%);
}
.professional {
  background: linear-gradient(to top,hsl(237, 63%, 64%),hsl(236, 72%, 79%));
  color: white;
}
.professional button {
  background: white;
  color: #6d70d1;
}
.professional button:hover {
  border: 1px solid rgb(255, 255, 255);
  background: none;
  color: white;
}

@media  only screen and (min-width: 1440px) {
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('./images/bg-bottom.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    gap: 0;
  }
  .btn {
    padding: 2rem 0rem 4rem;
  }
  .card {
    width: 350px;
  }
  .professional{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bd1 {
    border-radius: 12px 0px 0px 12px;
  }
  .bd2 {
    border-radius: 0px 12px 12px 0px;
  }
}